<app-header [getAuth]="true" [navElement1]="['Home', '/']" [navElement2]="['Project', '/task']" [navElement3]="['My goal', '/mygoal']"></app-header>

<section class="w-screen h-screen flex items-center justify-center bg-gradient-to-r from-blue-500 to-teal-500">
    <div class="w-4/5 max-w-6xl h-3/5 mx-auto p-8 md:p-16 flex flex-col items-center justify-center bg-white bg-opacity-75 backdrop-blur-md rounded-xl shadow-2xl">
        <h1 class="text-3xl md:text-5xl font-extrabold text-[#312e81] mb-4 md:mb-6">User Page</h1>
        <h2 class="text-xl md:text-3xl font-semibold text-gray-700">We are working on this page</h2>
        <p class="text-base md:text-lg text-gray-600 mt-4 text-center">Stay tuned for updates and exciting new features coming your way!</p>
    </div>
</section>